@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
}

/* nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

#gameWindow {
    background: url("./../img/city-night.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1447px;
    width: 1021px;
    position: relative;
}

#score {
    position: absolute;
    height: 100px;
    width: 250px;
    left: 800px;
    top : 50px;
    font-family: 'Press Start 2P', cursive;

}

#grandma {
    background: url("./../img/sprites/mamie-right1.png") no-repeat;
    height: 77px;
    width: 50px;
    position: absolute;
    transition: all 0.1s ease;
}

/* .isJumping {
    animation: bounce 0.35s ease 2 alternate;
} */

/* @keyframes bounce{
    from {transform: translateY(0%);}
    to   {transform: translateY(-200%);}
} */

#platform1 {
    background-color: green;
    position: absolute;
    bottom: 150px;
    left: 450px;
    height: 1vh;
    width: 12vh;
}

#platform2 {
    background-color: green;
    position: absolute;
    bottom: 250px;
    left: 250px;
    height: 1vh;
    width: 12vh;
}

#platform3 {
    background-color: green;
    position: absolute;
    bottom: 350px;
    left: 750px;
    height: 1vh;
    width: 12vh;
}

#platform4 {
    background-color: green;
    position: absolute;
    bottom: 450px;
    left: 450px;
    height: 1vh;
    width: 12vh;
}

#platform5 {
    background-color: green;
    position: absolute;
    bottom: 550px;
    left: 50px;
    height: 1vh;
    width: 12vh;
}

#platform6 {
    background-color: green;
    position: absolute;
    bottom: 650px;
    left: 650px;
    height: 1vh;
    width: 12vh;
}

#platform7 {
    background-color: green;
    position: absolute;
    bottom: 750px;
    left: 150px;
    height: 1vh;
    width: 12vh;
}

#platform8 {
    background-color: green;
    position: absolute;
    bottom: 850px;
    left: 350px;
    height: 1vh;
    width: 12vh;
}

#platform9 {
    background-color: green;
    position: absolute;
    bottom: 950px;
    left: 700px;
    height: 1vh;
    width: 12vh;
}

#platform10 {
    background-color: green;
    position: absolute;
    bottom: 1050px;
    left: 940px;
    height: 1vh;
    width: 12vh;
}

#platform11 {
    background-color: green;
    position: absolute;
    bottom: 1150px;
    left: 500px;
    height: 1vh;
    width: 12vh;
}

#platform12 {
    background-color: green;
    position: absolute;
    bottom: 1250px;
    left: 350px;
    height: 1vh;
    width: 12vh;
}

